venv
rainfall_system/data/wrf_raw
rainfall_system/data/cog
rainfall_system/data/rgba_tif
rainfall_system/backend/api/__pycache__
wrfFrema
rainfall_system/data/bin
testfrema
data/bin
GPM
data
GPM_hourly_bin
gpm_to_wrf_weights.nc
rainfall_system\backend\ingest\__pycache__
.vscode/settings.json
rainfall_system/__init__.py
rainfall_system/backend/ingest/__pycache__/InterpolateGPMtoWRF.cpython-313.pyc
